* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(48, 113, 174);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: "Montserrat", sans-serif;

}

.wrapApp {
    width: 500px;
    margin-top: 50px;
    padding-bottom: 30px;
    overflow: hidden;
}

HEADER {
    width: 100%;
    position: relative;
    height: 40px;
    /* background-color: red; */
}

h1 {
    color: rgb(255, 255, 255);
    background-color: red;
}

h1 span {
    position: absolute;
    left: 13px;
    animation: slideIn 0.5s;

    opacity: 1;
    animation-fill-mode: backwards;
    animation-delay: .15s;
    /* animation-fill-mode: forwards; */
}

h1 span:nth-child(2) {
    left: 35px;
    opacity: 1;
    animation-delay: .2s;
}

h1 span:nth-child(3) {
    left: 50px;
    opacity: 1;

    animation-delay: .25s;
}

h1 span:nth-child(4) {
    left: 70px;
    opacity: 1;

    animation-delay: .3s;
}

h1 span:nth-child(5) {
    left: 90px;
    opacity: 1;

    animation-delay: .35s;
}

h1 span:nth-child(6) {
    left: 113px;
    opacity: 1;

    animation-delay: .4s;
}

h1 span:nth-child(7) {
    left: 125px;
    opacity: 1;

    animation-delay: .45s;
}

h1 span:nth-child(8) {
    left: 148px;
    opacity: 1;

    animation-delay: .5s;
}


@keyframes slideIn {
    from {
        left: 1100px;
        opacity: 0;
    }
}

input {
    width: 100%;
    height: 40px;
    margin: 30px 0;
    padding-left: 10px;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

button {
    width: 100px;
    height: 60px;
    margin: 10px;
    background-size: cover;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    align-self: stretch;
    border: 1px solid #c8c7c7;
}

button:active {
    transform: scale(.9);
    transition: all;
}

.brand-btn {
    animation: rotateStartBtn 1s ease;
}

@keyframes rotateStartBtn {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: rotate(0deg);
    }
}



#inpost {
    background-image: url("./images/inpost.png");
}

#dpd {
    background-image: url("./images/dpd.png");
}

#dhl {
    background-image: url("./images/dhl.png");
}

#pocztex {
    background-image: url("./images/pocztex.png");
}

#raben {
    background-image: url("./images/raben.png");
}

#gls {
    background-image: url("./images/gls.png");
}

#fedex {
    background-image: url("./images/fedex.png");
}

#pekaes {
    background-image: url("./images/pekaes.png");
}

.info {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
}

.info p:first-child {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.alertWrap{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.844);
    z-index: 100;
}
.alert{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.hide{
    display: none;
}
@media only screen and (max-width: 520px) {
    .wrapApp {
        width: 90%;
    }
}